main {
	margin-top: 140px;
	margin-bottom: 140px;

	.container {
		.items__template__section {
			border-bottom: 0.5px solid #00000030;
			margin-bottom: 70px;
			padding-bottom: 70px;

			&:last-child {
				border-bottom: unset;
			}

			.its__category__title {
				color: $red;
				font-size: 16px;
				font-weight: 600;
				position: relative;
				padding-left: 32px;
				line-height: 40px;
				margin: 0px 0px 24px 0px;

				&::before {
					position: absolute;
					top: 0;
					left: 0;
					content: "";
					width: 20px;
					height: 40px;
					border-radius: $br;
					background: $red;
				}
			}

			.its__header {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.itsh__left {
					display: flex;
					align-items: center;
					gap: 87px;

					.its__header__title {
						font-family: "Inter", sans-serif;
						font-weight: 600;
						font-size: min(36px, max(18px + 2vw));
						margin: 0;
						letter-spacing: 0.64px;
					}

					.timer {
						display: flex;
						align-items: center;
						gap: 17px;

						h5 {
							margin: 0;

							span {
								display: block;

								&:first-child {
									font-weight: 500;
									color: $black;
									margin-bottom: 4px;
									font-size: 12px;
								}

								&:last-child {
									font-size: min(32px, max(16px + 2vw));
									font-family: "Inter", sans-serif;
									font-weight: 700;
								}
							}
						}

						.seperator {
							margin-top: 12px;

							div {
								width: 4px;
								height: 4px;
								background: $red;
								border-radius: 50% 50%;
								margin-bottom: 8px;

								&:last-child {
									margin-bottom: unset;
								}
							}
						}
					}
				}

				.itsh__right {
					display: flex;
					gap: 8px;

					.left__btn,
					.right__btn {
						display: flex;
						justify-content: center;
						align-items: center;
						background: $mediumGray;
						width: 46px;
						height: 46px;
						border-radius: 50% 50%;
						cursor: pointer;

						svg {
							width: 20px;
							height: 20px;

							path {
								transition: fill $trs;
								fill: $black;
							}
						}

						&:first-child {
							svg {
								transform: rotate(180deg);
							}
						}

						&:hover {
							svg {
								path {
									fill: $red;
								}
							}
						}
					}
				}
			}

			.its__items {
				display: flex;
				gap: 30px;
				margin-top: 40px;

				.its__item {
					.its__item__header {
						display: flex;
						justify-content: center;
						align-items: center;
						background: $mediumGray;
						padding: 12px;
						border-radius: $br;
						position: relative;
						max-width: 270px;
						max-height: 250px;
						min-width: 270px;
						min-height: 250px;
						overflow: hidden;

						.sale {
							position: absolute;
							top: 12px;
							left: 12px;
							display: flex;
							justify-content: center;
							align-items: center;
							width: fit-content;
							font-size: 12px;
							background: $red;
							color: $white;
							padding: 4px 12px;
							border-radius: $br;
							user-select: none;
						}

						.wishlist,
						.preview {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 34px;
							height: 34px;
							border-radius: 50% 50%;
							background: $white;
							cursor: pointer;
						}

						.wishlist {
							position: absolute;
							top: 12px;
							right: 12px;
						}

						.preview {
							position: absolute;
							top: 54px;
							right: 12px;
						}

						.image {
							max-width: 172px;
							max-height: 172px;
							overflow: hidden;

							img {
								width: 100%;
								height: 100%;
								object-fit: contain;
							}
						}

						.to__basket {
							position: absolute;
							bottom: -100px;
							left: 0;
							width: 100%;
							padding: 8px 16px;
							text-align: center;
							background: $black;
							color: $white;
							cursor: pointer;
							transition: all $trs;

							&:hover {
								background: $green;
								color: $black;
							}
						}
					}

					.its__item__title {
						font-weight: 500;
						margin: 16px 0px 0px 0px;

						a {
							text-decoration: none;
							color: $black;
							font-size: 16px;
						}
					}

					.its__item__price {
						display: flex;
						gap: 12px;
						margin: 8px 0px;

						.current__price,
						.old__price {
							margin: 0;
							font-weight: 500;
						}

						.current__price {
							color: $red;
						}

						.old__price {
							color: $black;
							opacity: 0.5;
							text-decoration: line-through;
						}
					}

					.its__item__review {
						display: flex;
						align-items: center;
						gap: 8px;

						.comments__count {
							p {
								font-size: 14px;
								color: $black;
								opacity: 0.5;
								font-weight: 600;
								margin: 0;
							}
						}
					}

					&:hover {
						.its__item__header {
							.to__basket {
								bottom: 0px;
							}
						}
					}
				}
			}

			.its__categories {
				display: flex;
				gap: 30px;
				margin-top: 60px;

				.category {
					a {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						width: 170px;
						height: 145px;
						border: 1px solid #00000030;
						border-radius: $br;
						text-decoration: none;
						transition: all $trs;

						svg {
							margin-bottom: 16px;

							path,
							line {
								transition: inherit;
							}
						}

						span {
							font-size: 16px;
							color: $black;
							transition: inherit;
						}

						&:hover {
							background: $red;
							border-color: $red;

							svg {
								path, line {
									stroke: $white;
								}
							}

							span {
								color: $white;
							}
						}
					}
				}
			}

			.redBtn.bottom {
				margin: 60px auto 0px auto;
			}
		}
	}
}